@keyframes ellipsis-dot1 {
  0%,
  100% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
}
@keyframes ellipsis-dot2 {
  0%,
  50%,
  100% {
    opacity: 0;
  }
  51%,
  75% {
    opacity: 1;
  }
}
@keyframes ellipsis-dot3 {
  0%,
  74%,
  100% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
}

.dot {
  @apply relative inline-block opacity-0;
}

.animate-dot1 {
  animation: ellipsis-dot1 2s steps(1, end) infinite;
}
.animate-dot2 {
  animation: ellipsis-dot2 2s steps(1, end) infinite;
}
.animate-dot3 {
  animation: ellipsis-dot3 2s steps(1, end) infinite;
}
