NEXT_PUBLIC_SITE_URL=http://localhost:3300

# Supabase
NEXT_PUBLIC_SUPABASE_URL=http://localhost:55421
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
DATABASE_URL=postgresql://postgres:postgres@localhost:55422/postgres
DIRECT_URL=postgresql://postgres:postgres@localhost:55422/postgres
