# testing
/coverage
supabase-e2e/supabase/config.toml

# misc
.DS_Store
*.pem
.supabase
!.env.example

# env files (can opt-in for committing if needed)
.env*
!.env.example

# ai coding
.claude

/node_modules

# Treck generated data
.treck/
